/* have to override bootstrap with !important */

.projectContainer {
  text-align: center;
  font-family: "Cairo", sans-serif;
  margin-top: 3em;
  margin-bottom: 3em;
  display: block;
  justify-content: center;
}

.projectCard {
  font-family: "Cairo", sans-serif;
  text-align: center;
  background-color: #616060 !important;
  box-shadow: 0 5px 15px 10px #1a2b2f31;
  color: #ffffff;
  width: 100% auto;
  height: 400px auto;
  margin-right: 10px;
  margin-bottom: 2em;
  margin-left: 15% auto;
}

.projectCardImage {
  width: 100% auto;
  height: 100% auto;
}

Button {
  color: #141818 !important;
  margin: 2px;
  background: radial-gradient(#befaf0, #5bc0de, #4c4853);
  padding: 10px;
  border-radius: 0.25rem;
}

Button:hover {
  color: white;
  background: radial-gradient(#4c4853, #5bc0de, #befaf0);
}