.sectionTitle {
  color: #413d3d;
}

.sectionTitle::after {
    /* line under the title for all sections in this app */
  content: ""; /* plain line */
  display: block;
  width: 50rem; /* unit of typography equal to the root font-size. Meaning, 1rem is always equal to the font-size defined in <html> */
  margin: 1rem auto; 
  background: #81cccc;
  height: 1px; /* using pixels to keep the same size throughout page */
  margin-bottom: 4rem;
}

.aboutContainer {
  text-align: center;
  font-family: "Cairo", sans-serif;
  margin-top: 3em;  /*EM is a unit of typography, equal to the currently specified point-size */
  margin-bottom: 3em;
}

.aboutText {
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.aboutImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem; 
  border-radius: 50%;
}

.fa-icon {
  color: #81cccc;
  font-size: 30px;
  margin: 0 10px;
}

.fa-icon:hover {
  color: aqua;
  margin: 0 10px;
  transition: all .1s ease-in-out;
}
