.sectionTitle {
  color: #413d3d;
  font-size: 40px;
}

.sectionTitle::after {
    /* line under the title for all sections in this app */
  content: ""; /* plain line */
  display: block;
  width: 60rem auto; /* unit of typography equal to the root font-size. Meaning, 1rem is always equal to the font-size defined in <html> */
  margin: 1rem auto; 
  /* background: linear-gradient(to right, #5bc0de, #4c4853,  #5bc0de, transparent); */
  background: linear-gradient(70deg, white 0%, #5bc0de 50%, #5bc0de 50%, white 100%);
  height: .1em; /* using pixels to keep the same size throughout page */
  margin-bottom: 4rem;
}

h1::before { 
  display: block; 
  content: " "; 
  margin-top: -101px; 
  height: 101px; 
  visibility: hidden; 
  pointer-events: none;
}

.aboutContainer {
  text-align: center;
  font-family: "Cairo", sans-serif;
  margin-top: 3em;  /*EM is a unit of typography, equal to the currently specified point-size */
  /* margin-bottom: 3em; */
}

.aboutText {
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.aboutImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem; 
  border-radius: 50%;
  box-shadow: 0 5px 15px 10px #1a2b2f31;
}

.fa-icon {
  color: #53c8d8;
  font-size: 30px;
  margin: 0 10px;
}

.fa-icon:hover {
  color: aqua;
  margin: 0 10px;
  transition: all .2s ease-in-out;
}

#about {
  padding-top: 100px;
}
