.contactContainer {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 23em;
    font-family: "Cairo", sans-serif;
}

.contact-form {
  justify-content: center;
  border-radius: 2px !important;
}

#contact {
  padding-top: 100px;
}