.contactContainer {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 10em;
  font-family: "Cairo", sans-serif;
}

.contact-form {
  justify-content: center;
  border-radius: 2px !important;
}

.contactLinkSection {
  background-color: #616060;
  color: white;
  padding: 100px;
}

.contactLinks {
  color: #5bc0de;
  font-size: 20px;
}

.contactLinks:hover {
  color: #11f3e0;
  font-size: 25px;
  transition: all .2s ease-in-out;

}

#contact {
  padding-top: 100px;
}