.footer {
    text-align: center;
    margin-top: 3em;
    margin-bottom: -.5em;
    font-family: "Cairo", sans-serif;
    background-color: #676c6d7a;
}
.footerSpan {
    font-family: "Euphoria Script", cursive;

}