/* this image needs to be brought it this way (through css) for it to be overlaid with opacity */
.bannerImage {
  background-image: url(../../assets/images/banner-laptop.jpg);
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* name and title sits on the image with a dark opacity overlay */
.overlay {
  position: absolute;
  min-height: 656px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.bannerName {
  color: white;
  font-weight: 700;
  font-family: "Cairo", sans-serif;
  text-align: center;
}

.bannerTitle {
  color: white;
  padding: 20px 0px;
  font-weight: 600;
  font-family: "Cairo", sans-serif;
  text-align: center;
}

.bannerContainer {
  margin-top: 250px; 
}