/* have to override bootstrap with !important */

.projectContainer {
  text-align: center;
  font-family: "Cairo", sans-serif;
  margin-top: 3em;
  margin-bottom: 3em;
  display: block;
  justify-content: center;
}

.projectCard {
  font-family: "Cairo", sans-serif;
  text-align: center;
  background-color: #616060 !important;
  color: #ffffff;
  width: 100% auto;
  height: 100% auto;
  margin-left: 15% auto;
  margin-right: 10px;
  margin-bottom: 2em;

}

.projectCardImage {
  width: 100% auto;
  height: 100% auto;
}

Button {
  background-color: #81cccc !important;
  border-color: #81cccc !important;
}
