/* have to override bootstrap with !important */

.projectCard {
    margin-bottom: 5em;
    font-family: "Cairo", sans-serif;
    text-align: center;
}

Button {
    background-color: #5bc0de !important;
    border-color: #5bc0de !important;
}